absl-py==1.4.0
alabaster==0.7.13
allennlp==0.8.3
astor==0.8.1
astunparse==1.6.3
attrdict==2.0.1
awscli
Babel==2.11.0
backcall==0.2.0
base58==2.1.1
bayesian-optimization
blis==0.2.4
boto3
botocore
cached-path
cachetools
certifi
cffi
charset-normalizer
click
colorama
commonmark
conllu
cryptography
cycler
cymem
decorator
dill
docker-pycreds
docutils
editdistance
# en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.1.0/en_core_web_lg-2.1.0.tar.gz
# en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz
exceptiongroup
# fairscale
filelock
flaky
Flask
Flask-Cors==4.0.0
flatbuffers==23.5.26
fonttools
ftfy
# future
gast
gevent
gitdb
GitPython
google-api-core
google-auth
google-auth-oauthlib
google-cloud-core
google-cloud-storage
google-crc32c
google-pasta
google-resumable-media
googleapis-common-protos
greenlet
grpcio
h5py
huggingface-hub
idna
imagesize
importlib-metadata
iniconfig
ipython
itsdangerous
jedi
Jinja2
jmespath
joblib
jsonnet
keras
Keras-Applications
Keras-Preprocessing
kiwisolver
libclang
lmdb
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mock
more-itertools
moto
msgpack
murmurhash
networkx
neuralcoref
nltk
numpy
numpydoc
oauthlib
opt-einsum
overrides
packaging
pandas
parsimonious
parso
pathtools
pexpect
pickleshare
Pillow
plac
pluggy
preshed
promise
prompt-toolkit
protobuf
psutil
ptyprocess
pyasn1
pyasn1-modules
pycparser
pydot-ng
Pygments
pyhocon
pyparsing
pytest
python-dateutil
pytorch-pretrained-bert
pytz
PyYAML
regex
requests
requests-oauthlib
responses
rich
rsa
s3transfer
sacremoses
scikit-learn
scipy
sentencepiece
sentry-sdk
setproctitle
shortuuid
six
smmap
snowballstemmer==2.2.0
spacy==2.1.9
Sphinx==5.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.4
srsly==1.0.7
tensorboard==1.13.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6
tensorflow==1.13.1
tensorflow-estimator==1.13.0
tensorflow-hub==0.3.0
tensorflow-io-gcs-filesystem
# termcolor
thinc==7.0.8
threadpoolctl==3.1.0
tokenizers==0.12.1
tomli
torch
tqdm
traitlets
transformers
typer
types-PyYAML
typing_extensions
Unidecode
urllib3
wasabi
wcwidth
Werkzeug
word2number
wrapt
xmltodict
zipp
zope.event
zope.interface
